html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

h1, h2, h3 {
	font-weight: 300;
	color: #333;
}

h2 {
	font-size: 28px;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	text-decoration-style: ink;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

.site-header {
	width: 100%;
	padding: 0 40px;
	max-height: 15vh;
}

.site-header h1 {
	font-size: 32px;
}

.site-header h1 a {
	color: inherit;
}

.site-navigation {
	float: left;
	width: 25%;
	padding: 0 0 0 40px;
}

@media only screen and (min-width: 960px) {
	.site-navigation {
		width: 15%;
	}
}

.site-navigation ul {
	list-style: none;
	padding: 0;
}

.site-navigation li {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
}

.site-navigation .subnav {
	margin: 20px 0;
	padding-left: 15px;
}

.site-navigation a {
	color: #666;
}

.main-content {
	margin-bottom: 20px;
}

.site-footer {
	clear: both;
	width: 95%;
	margin: 40px auto 0;
	padding: 20px 20px;
	border-top: 1px solid #222;
}

.align-right {
	float: right;
}

.main-content {
	width: 70%;
	float: right;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (min-width: 960px) {
	.main-content {
		width: 80%;
	}
}

.image-thumbnail {
	position: relative;
	display: block;
	flex: 0 0 16%;
	width: 16%;
	padding-top: 16%;
	margin: 20px 10px;
	opacity: 1;
	transition: all 0.3s ease-in;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	overflow: hidden;
}

@media only screen and (min-width: 700px) {
	.image-thumbnail {
		flex: 0 0 27%;
		width: 27%;
		padding-top: 27%;
	}
}

@media only screen and (min-width: 1000px) {
	.image-thumbnail {
		flex: 0 0 16%;
		width: 16%;
		padding-top: 16%;
	}
}

.image-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	margin: 0;
	object-fit: cover;
}

.image-thumbnail.fade-out {
	opacity: 0;
	transform: scale(0);
	transition: all 0.3s ease-out;
}

.hashtags {
	flex-basis: 100%;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: left;
}

.hashtags a {
	padding: 0 5px 5px;
	display: inline-block;
	text-decoration: underline;
	text-decoration-skip: ink;
	color: #333;
}

.about-content {
	width: 500px;
	color: #222;
}


.fancybox-bg {
	background: #fff;
}

.ao-fancybox-base .fancybox-button {
	color: #000;
	background: #fff;
}

.ao-fancybox-base .fancybox-button:before {
	background: #fff;
}

.ao-fancybox-base .fancybox-caption-wrap {
	background: transparent;
	color: #000;
	border: 0;
}

.ao-fancybox-base .fancybox-caption {
	color: #000;
	background-color: #fff;
	border: 0;
	margin: 0 auto;
}
