html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.site-header {
	width: 100%;
	padding: 0 40px;
	max-height: 15vh;
}

.site-navigation {
	float: left;
	width: 15%;
	padding: 0 0 0 40px;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
}

.site-navigation li {
	padding: 0;
	margin: 0 0 10px 0;
}

.site-navigation .subnav {
	margin: 20px 0;
	padding-left: 20px;
}

.site-navigation a {
	color: #666;
}

.main-content {
	width: 80%;
	float: right;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.image-thumbnail {
	display: block;
	flex: 0 1 16%;
	/*width: 100px;
	height: auto;*/
	margin: 20px 10px;
	opacity: 1;
	transition: all 0.3s ease-in;
}

.image-thumbnail img {
	display: block;
	width: 100%;
	margin: 0;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.image-thumbnail.inactive {
	opacity: 0.4;
}

.image-thumbnail.fade-out {
	opacity: 0;
	transform: scale(0);
	transition: all 0.3s ease-out;
}

.hashtags {
	flex-basis: 100%;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: left;
}

.hashtags a {
	padding: 0 5px 5px;
	display: inline-block;
	text-decoration: underline;
	text-decoration-skip: ink;
	color: #333;
}

.about-content {
	width: 500px;
	color: #222;
}


.ao-fancybox-base .fancybox-bg {
	background: #fff;
}

.ao-fancybox-base .fancybox-button {
	color: #000;
	background: #fff;
}

.ao-fancybox-base .fancybox-button:before {
	background: #fff;
}

.ao-fancybox-base .fancybox-caption-wrap {
	background: transparent;
	color: #000;
	border: 0;
}

.ao-fancybox-base .fancybox-caption {
	color: #000;
	border: 0;
	max-width: 600px;
	margin: 0 auto;
}
